<div class="modal fade" id="transfer_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="transfer_currency">Transfer Currency</h4>
            </div>
            <div class="modal-body">            
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label data-i18n="currency">CURRENCY</label>
                        <p><span id="transfer_currency_code"></span><span id="transfer_currency_available" style="font-style:italic"></span></p>
                        <input type="hidden" name="currency" id="transfer_currency_currency" value="" />
                        <input type="hidden" name="decimals" id="transfer_currency_decimals" value="" />
                    </div>
                    <div class="form-group">
                        <label for="transfer_currency_recipient" data-i18n="recipient">RECIPIENT</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="recipient" id="transfer_currency_recipient" placeholder="Recipient Account" data-i18n="[placeholder]recipient_account" autofocus tabindex="1" />
                            <span class="input-group-btn btn-group recipient_selector">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" style="right:0;left:auto;"></ul>
                            </span>
                        </div>
                    </div>
                    <div class="form-group recipient_public_key">
                        <label for="transfer_currency_recipient_public_key" data-i18n="recipient_public_key">Recipient Public Key</label>
                        <input type="text" class="form-control" name="recipientPublicKey" id="transfer_currency_recipient_public_key" placeholder="Public Key" data-i18n="[placeholder]public_key" tabindex="2" spellcheck="false" />
                    </div>
                    <div class="form-group">
                        <label for="transfer_currency_units" data-i18n="units">UNITS</label>
                        <div class="input-group">
                            <input type="number" name="units" id="transfer_currency_units" class="form-control" step="any" min="0" placeholder="Units" data-i18n="[placeholder]units" tabindex="3">
                            <span class="input-group-addon" id="transfer_currency_units_code"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="add_message" id="transfer_currency_add_message" class="add_message" tabindex="6" /> <label for="transfer_currency_add_message" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_message_q">Add a Message?</span></label>
                    </div>
                    <div class="form-group optional_message">
                        <label for="transfer_currency_message" data-i18n="message">MESSAGE</label>
                        <textarea class="form-control" id="transfer_currency_message" name="message" rows="4" tabindex="7"></textarea>
                         <div style="margin-top:3px">
                            <label for="transfer_currency_encrypt_message" style="font-weight:normal;color:#666"><input type="checkbox" name="encrypt_message" id="transfer_currency_encrypt_message" value="1" data-default="checked" checked="checked" /> <span data-i18n="encrypt_message">Encrypt Message</span></label>
                        </div>
                    </div>
                    <div class="row advanced">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="transfer_currency_fee" data-i18n="fee">FEE</label>
                                <div class="input-group">
                                    <input type="number" name="feeNXT" id="transfer_currency_fee" class="form-control" step="any" min="1" placeholder="Fee" data-i18n="[placeholder]fee" data-default="1" value="1" tabindex="5">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="transfer_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="transfer_currency_deadline" class="form-control" placeholder="Deadline" data-i18n="[placeholder]deadline" min="1" data-default="24" value="1" tabindex="6">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="transfer_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="transfer_currency_password" class="form-control" placeholder="" tabindex="7">
                    </div>
                    <div class="form-group advanced">
                        <label for="transfer_currency_referenced_transaction" data-i18n="referenced_transaction_hash">REFERENCED TRANSACTION HASH</label>
                        <input type="text" class="form-control" name="referencedTransactionFullHash" id="transfer_currency_referenced_transaction" placeholder="Referenced Transaction Full Hash" data-i18n="[placeholder]referenced_transaction_full_hash" tabindex="8" spellcheck="false" />
                    </div>
                    <div class="form-group advanced" style="margin-bottom:5px;">
                        <input type="checkbox" name="doNotBroadcast" id="transfer_currency_do_not_broadcast" value="1" /> <label for="transfer_currency_do_not_broadcast" style="font-weight:normal;" tabindex="9" data-i18n="do_not_broadcast">Do Not Broadcast</label>
                    </div>
                    <div class="form-group advanced">
                        <input type="checkbox" name="add_note_to_self" id="transfer_currency_add_note_to_self" class="add_note_to_self" tabindex="10" /> <label for="transfer_currency_add_note_to_self" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_note_to_self">Add Note to Self?</span></label>
                    </div>
                    <div class="form-group advanced optional_note">
                        <label for="transfer_currency_note_to_self" data-i18n="note_to_self">Note to Self</label>
                        <textarea class="form-control" id="transfer_currency_note_to_self" name="note_to_self" rows="4" tabindex="11"></textarea>
                        <div style="margin-top:3px;">
                            <label style="font-weight:normal;color:#666" data-i18n="note_is_encrypted">This note is encrypted.</span></label>
                        </div>
                    </div>
                    <div class="callout account_info" style="display:none;margin-bottom: 0;"></div>
                    <input type="hidden" name="request_type" value="transferCurrency" />
                    <input type="hidden" name="converted_account_id" value="" />
                    <input type="hidden" name="merchant_info" value="" data-default="" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee:</strong> <span class="advanced_fee">1 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="transfer_currency;[placeholder]submitting">Transfer Currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="currency_order_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- todo -->
                <h4 class="modal-title" data-i18n="confirm__exchange">Confirm <span class="currency_order_modal_type"></span> Exchange</h4>
            </div>
            <div class="modal-body">            
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label data-i18n="exchange_description">EXCHANGE DESCRIPTION</label>
                        <p id="currency_order_description"></p>
                        <input type="hidden" name="currency" id="currency_order_currency" value="" />
                        <input type="hidden" name="units" id="currency_order_units" value="" />
                        <input type="hidden" name="rateNQT" id="currency_order_rate" value="" />
                        <input type="hidden" name="feeNQT" id="currency_order_fee" value="" />
                        <input type="hidden" name="deadline" id="currency_order_deadline" data-default="24" value="24" />
                    </div>
                    <div class="form-group">
                        <label><span data-i18n="total">TOTAL</span> <i id="currency_order_total_tooltip" class="fa fa-question-circle" style="color:#4CAA6E" data-toggle="popover" data-placement="right" data-content=""></i></label>
                        <p id="currency_order_total"></p>
                    </div>
                    <div class="form-group">
                        <label data-i18n="fee">FEE</label>
                        <p id="currency_order_fee_paid"></p>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="currency_order_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="currency_order_password" class="form-control" placeholder="" tabindex="1">
                    </div>
                    <input type="hidden" name="currency_order_type"  id="currency_order_type" />
                    <input type="hidden" name="request_type" value="orderCurrency" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." id="currency_order_modal_button" data-i18n="[data-loading-text]submitting"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="issue_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="issue_currency">Issue Currency</h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="issue_currency_name"><span data-i18n="currency_name">CURRENCY NAME</span> <i class="fa fa-question-circle show_popover" data-content="The currency name is unique. Should be between 3-10 characters and longer than the currency code." data-i18n="[data-content]currency_name_help" data-container="body" style="color:#4CAA6E" ></i></label>
                        <input type="text" maxlength="10" class="form-control" name="name" id="issue_currency_name" placeholder="Currency Name" data-i18n="[placeholder]currency_name" autofocus tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="issue_currency_code"><span data-i18n="currency_code">CURRENCY CODE</span> <i class="fa fa-question-circle show_popover" data-content="The currency code is unique. Its composed of 3-5 upper case letters." data-i18n="[data-content]currency_code_help" data-container="body" style="color:#4CAA6E" ></i></label>
                        <input type="text" maxlength="5" class="form-control" name="code" id="issue_currency_code" placeholder="Currency Code" data-i18n="[placeholder]currency_code" autofocus tabindex="2" />
                    </div>
                    <div class="form-group">
                        <label for="issue_currency_description" data-i18n="description">DESCRIPTION</label>
                        <textarea class="form-control" maxlength="1000" id="issue_currency_description" name="description" rows="3" tabindex="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label data-i18n="type">TYPE</label>
                        <div class="input-group">
                            <input type="checkbox" name="type" id="issue_currency_exchangeable" value="1" />
                            <label for="issue_currency_exchangeable" style="font-weight:normal;" tabindex="4" data-i18n="exchangeable">Exchangeable</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="type" id="issue_currency_controllable" value="2" />
                            <label for="issue_currency_controllable" style="font-weight:normal;" tabindex="5" data-i18n="controllable">Controllable</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="type" id="issue_currency_reservable" class="issue_currency_reservable" value="4" />
                            <label for="issue_currency_reservable" style="font-weight:normal;" tabindex="6" data-i18n="reservable">Reservable</label>
                        </div>
                        <div class="form-group advanced optional_reserve">
                            <label for="issue_currency_min_reserve" data-i18n="min_reserve">MINIMUM AMOUNT OF NXT PER WHOLE UNIT NEEDED TO ACTIVATE CURRENCY</label>
                            <input name="minReservePerUnitNQT" id="issue_currency_min_reserve" class="form-control" placeholder="Minimum Amount Per Unit" data-i18n="minimum_reserve" tabindex="7" disabled>
                        </div>
                        <div class="form-group advanced optional_reserve">
                            <label for="issue_currency_min_reserve" data-i18n="reserve_supply">UNITS TO RESERVE</label>
                            <input type="number" name="reserveSupply" id="issue_currency_min_reserve_supply" class="form-control" min="1" placeholder="Number of Units" data-i18n="reserve_supply" tabindex="8" disabled>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="type" id="issue_currency_claimable" value="8" />
                            <label for="issue_currency_claimable" style="font-weight:normal;" tabindex="9" data-i18n="claimable">Claimable</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="type" id="issue_currency_mintable"  class="issue_currency_mintable" value="16" />
                            <label for="issue_currency_mintable" style="font-weight:normal;" tabindex="10" data-i18n="mintable">Mintable</label>
                        </div>
                        <div class="form-group advanced optional_mint">
                            <label for="issue_currency_min_difficulty"><span data-i18n="min_difficulty">MINIMUM DIFFICULTY</span> <i class="fa fa-question-circle show_popover" data-content="The exponent of the initial difficulty." data-i18n="[data-content]currency_decimals_help" data-container="body" style="color:#4CAA6E" ></i></label>
                            <input type="number" name="minDifficulty" id="issue_currency_min_difficulty" class="form-control" min="1" max="255" placeholder="Minimum Difficulty" data-i18n="minimum_difficulty" tabindex="11">
                        </div>
                        <div class="form-group advanced optional_mint">
                            <label for="issue_currency_max_difficulty"><span data-i18n="max_difficulty">MAXIMUM DIFFICULTY</span> <i class="fa fa-question-circle show_popover" data-content="The exponent of the final difficulty." data-i18n="[data-content]currency_decimals_help" data-container="body" style="color:#4CAA6E" ></i></label>
                            <input type="number" name="maxDifficulty" id="issue_currency_max_difficulty" class="form-control" min="1" max="255" placeholder="Maximum Difficulty" data-i18n="maximum_difficulty" tabindex="12">
                        </div>
                        <div class="form-group advanced optional_mint">
                            <label for="issue_currency_algorithm" data-i18n="algorithm">ALGORITHM</label>
                            <select name="algorithm" id="issue_currency_algorithm" class="form-control" tabindex="13">
                              <option value="">Pick an algorithm</option>
                              <option value="2">SHA256</option>
                              <option value="3">SHA3</option>
                              <option value="5">Scrypt</option>
                              <option value="25">Keccak25</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="type" id="issue_currency_shuffleable" value="32" />
                            <label for="issue_currency_shuffleable" style="font-weight:normal;" tabindex="14" data-i18n="nonshuffleable"> Non-Shuffleable</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <label for="issue_currency_initial_supply" data-i18n="initial_supply">INITIAL SUPPLY</label>
                            <input type="number" name="initialSupply" id="issue_currency_initial_supply" class="form-control" min="0" placeholder="Initial Supply" data-i18n="Initial_supply" tabindex="15">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                            <label for="issue_currency_max_supply" data-i18n="total_supply">TOTAL SUPPLY</label>
                            <input type="number" name="maxSupply" id="issue_currency_max_supply" class="form-control" min="1" placeholder="Total Supply" data-i18n="total_supply" tabindex="16">
                        </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label for="issue_currency_decimals"><span data-i18n="decimals">DECIMALS</span> <i class="fa fa-question-circle show_popover" data-content="The maximum allowed number of digits after the currency quantity decimal point." data-i18n="[data-content]currency_decimals_help" data-container="body" style="color:#4CAA6E" ></i></label>
                                <input type="number" name="decimals" id="issue_currency_decimals" class="form-control" min="0" max="8" placeholder="Decimals" data-i18n="decimals" data-default="0" value="0" tabindex="17">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issue_currency_issuance_height" data-i18n="issuance_height">ISSUANCE HEIGHT</label> <i>Current Height: <span class="nrs_current_block"></span></i>
                        <input type="number" name="issuanceHeight" id="issue_currency_issuance_height" class="form-control" min="0" placeholder="Issuance Height" data-i18n="issuance_height" tabindex="18" value="0" disabled>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 advanced" data-advanced="6">
                            <div class="form-group">
                                <label for="issue_currency_fee"><span data-i18n="fee">FEE</span> <i class="fa fa-exclamation-circle show_popover" data-content="The fees are the following: 3 Letters - 25000 NXT, 4 Letters - 1000 NXT, 5 Letters - 40 NXT" data-i18n="[data-content]currency_minimum_fee_help" data-container="body" style="color:red"></i></label>
                                <div class="input-group">
                                    <input type="text" name="feeNXT" id="issue_currency_fee" class="form-control" placeholder="Fee" min="40" data-default="25000" value="25000" tabindex="19">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 advanced">
                            <div class="form-group">
                                <label for="issue_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="issue_currency_deadline" class="form-control" placeholder="Deadline" data-i18n="deadline" min="1" data-default="24" value="24" tabindex="20">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="issue_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="issue_currency_password" class="form-control" placeholder="" tabindex="21">
                    </div>
                    <div class="form-group advanced">
                        <label for="issue_currency_referenced_transaction" data-i18n="referenced_transaction_hash">REFERENCED TRANSACTION HASH</label>
                        <input type="text" class="form-control" name="referencedTransactionFullHash" id="issue_currency_referenced_transaction" placeholder="Referenced Transaction Full Hash" data-i18n="referenced_transaction_full_hash" tabindex="22" spellcheck="false" />
                    </div>
                    <div class="form-group advanced" style="margin-bottom:0;">
                        <input type="checkbox" name="doNotBroadcast" id="issue_currency_do_not_broadcast" value="1" /> <label for="issue_currency_do_not_broadcast" style="font-weight:normal;" tabindex="23" data-i18n="do_not_broadcast">Do Not Broadcast</label>
                    </div>
                    <div class="form-group advanced">
                        <input type="checkbox" name="add_note_to_self" id="issue_currency_add_note_to_self" class="add_note_to_self" tabindex="24" /> <label for="issue_currency_add_note_to_self" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_note_to_self">Add Note to Self?</span></label>
                    </div>
                    <div class="form-group advanced optional_note">
                        <label for="issue_currency_note_to_self" data-i18n="note_to_self">Note to Self</label>
                        <textarea class="form-control" id="issue_currency_note_to_self" name="note_to_self" rows="4" tabindex="25"></textarea>
                        <div style="margin-top:3px;">
                            <label style="font-weight:normal;color:#666" data-i18n="note_is_encrypted">This note is encrypted.</label>
                        </div>
                    </div>
                    <input type="hidden" name="request_type" value="issueCurrency" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee</strong>: <span class="advanced_fee">25'000 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="issue_currency;[data-loading-text]submitting">Issue Currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publish_exchange_offer_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="publish_exchange_offer">Publish Exchange Offer</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" style="padding: 10px;max-width:520px;margin-left:auto;margin-right:auto;" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div style="margin-left:-20px">
                        <div class="form-group">
                            <label data-i18n="currency">CURRENCY</label>
                            <p><span class="currency_code"></span><span id="publish_exchange_available" style="font-style:italic"></span></p>
                            <input type="hidden" name="currency" id="publish_exchange_offer_currency" value="" />
                            <input type="hidden" name="decimals" id="publish_exchange_offer_decimals" value="" />
                        </div>
                        <div class="form-group">
                            <label for="buy_currency_units_initial" class="col-sm-3 control-label" data-i18n="buy_units_initial">Buy units (Initial)</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="buy_currency_units_initial" type="text" name="initialBuySupply" value="0" class="form-control" data-type="buy" tabindex="2" />
                                    <span class="input-group-addon"><span class="currency_code"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="buy_currency_units_total" class="col-sm-3 control-label" data-i18n="buy_units_limit">Buy units (Limit)</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="buy_currency_units_total" type="text" name="totalBuyLimit" value="0" class="form-control" data-type="buy" tabindex="3" />
                                    <span class="input-group-addon"><span class="currency_code"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="buy_currency_rate" class="col-sm-3 control-label" data-i18n="buy_rate_per_unit">Buy Rate per unit</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="buy_currency_rate" type="text" value="0" name="buyRateNQT" class="form-control" data-type="buy" tabindex="4" />
                                    <span class="input-group-addon">NXT / <span class="currency_code"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sell_currency_units_initial" class="col-sm-3 control-label" data-i18n="sell_units_initial">Sell units (Initial)</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="sell_currency_units_initial" type="text" name="initialSellSupply" value="0" class="form-control" data-type="sell" tabindex="5" />
                                    <span class="input-group-addon"><span class="currency_code"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sell_currency_units_total" class="col-sm-3 control-label" data-i18n="sell_units_limit">Sell units (Limit)</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="sell_currency_units_total" type="text" name="totalSellLimit" value="0" class="form-control" data-type="sell" tabindex="6" />
                                    <span class="input-group-addon"><span class="currency_code"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sell_currency_rate" class="col-sm-3 control-label" data-i18n="sell_rate_per_unit">Sell Rate per unit</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="sell_currency_rate" type="text" value="0" name="sellRateNQT" class="form-control" data-type="sell" tabindex="7" />
                                    <span class="input-group-addon">NXT / <span class="currency_code"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="expiration_height" class="col-sm-3 control-label" data-i18n="expiration_height">Expiration Height</label><i>Current Height: <span class="nrs_current_block"></span></i>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input id="expiration_height" type="number" name="expirationHeight" class="form-control" tabindex="8" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 advanced">
                            <div class="form-group">
                                <label for="issue_currency_fee"><span data-i18n="fee">FEE</span> <i class="fa fa-exclamation-circle show_popover" data-container="body" style="color:red"></i></label>
                                <div class="input-group">
                                    <input type="number" name="feeNXT" id="exchange_offer_currency_fee" class="form-control" placeholder="Fee" step="any" min="1" data-default="1" value="1" tabindex="9">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 advanced">
                            <div class="form-group">
                                <label for="issue_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="exchange_offer_deadline" class="form-control" placeholder="Deadline" data-i18n="deadline" min="1" data-default="24" value="24" tabindex="10">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="issue_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="exchange_offer_password" class="form-control" placeholder="" tabindex="11">
                    </div>
                    <input type="hidden" name="request_type" value="publishExchangeOffer" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee</strong>: <span class="advanced_fee">1 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="publish_exchange_offer;[data-loading-text]submitting">Publish Exchange Offer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="claim_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-i18n="claim_currency">Claim currency</span> - <span id="claim_currency_code"></span></h4>
            </div>
            <div class="modal-body">            
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <input type="hidden" name="currency" id="claim_currency_currency" />
                        <input type="hidden" name="decimals" id="claim_currency_decimals" value="" />
                    </div>
                    <div class="form-group">
                        <label for="claim_currency_amount" data-i18n="currency_units_to_claim">Number of units to claim</label> <i><span id="claimAvailable"></span></i>
                        <label for="claim_currency_amount" data-i18n="currency_claim_rate">Claim rate</label> <i><span id="claimRate"></span></i>
                        <input type="text" class="form-control" name="units" id="claim_currency_amount" placeholder="Number of units" data-i18n="units" tabindex="1" />
                    </div>
                    
                    <div class="row advanced">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="claim_currency_fee" data-i18n="fee">FEE</label>
                                <div class="input-group">
                                    <input type="number" name="feeNXT" id="claim_currency_fee" class="form-control" step="any" min="1" placeholder="Fee" data-i18n="[placeholder]fee" data-default="1" value="1" tabindex="3">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="claim_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="claim_currency_deadline" class="form-control" placeholder="Deadline" data-i18n="[placeholder]deadline" min="1" data-default="24" value="24" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="claim_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="claim_currency_password" class="form-control" placeholder="" tabindex="5">
                    </div>
                    <div class="form-group advanced">
                        <label for="claim_currency_referenced_transaction" data-i18n="referenced_transaction_hash">REFERENCED TRANSACTION HASH</label>
                        <input type="text" class="form-control" name="referencedTransactionFullHash" id="claim_currency_referenced_transaction" placeholder="Referenced Transaction Full Hash" data-i18n="[placeholder]referenced_transaction_full_hash" tabindex="6" spellcheck="false" />
                    </div>
                    <div class="form-group advanced" style="margin-bottom:0;">
                        <input type="checkbox" name="doNotBroadcast" id="claim_currency_do_not_broadcast" value="1" /> <label for="claim_currency_do_not_broadcast" style="font-weight:normal;" tabindex="7" data-i18n="do_not_broadcast">Do Not Broadcast</label>
                    </div>
                    <div class="form-group advanced">
                        <input type="checkbox" name="add_note_to_self" id="claim_currency_add_note_to_self" class="add_note_to_self" tabindex="8" /> <label for="claim_currency_add_note_to_self" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_note_to_self">Add Note to Self?</span></label>
                    </div>
                    <div class="form-group advanced optional_note">
                        <label for="claim_currency_note_to_self" data-i18n="note_to_self">Note to Self</label>
                        <textarea class="form-control" id="claim_currency_note_to_self" name="note_to_self" rows="4" tabindex="9"></textarea>
                        <div style="margin-top:3px;">
                            <label style="font-weight:normal;color:#666" data-i18n="note_is_encrypted">This note is encrypted.</span></label>
                        </div>
                    </div>
                    <input type="hidden" name="request_type" value="currencyReserveClaim" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee</strong>: <span class="advanced_fee">1 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="claim_currency_button" data-loading-text="Submitting..." data-i18n="claim;[data-loading-text]submitting">Claim currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mine_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-i18n="mint_currency">Mint Currency</span> - <span id="mine_currency_code"></span></h4>
            </div>
            <div class="modal-body">            
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <input type="hidden" name="currency" id="mine_currency_currency" />
                        <input type="hidden" name="decimals" id="mine_currency_decimals" />
                    </div>
                    <div class="form-group">
                        <label for="mine_currency_units" data-i18n="units">Units</label>
                        <input type="text" class="form-control" name="units" id="mine_currency_units" data-i18n="units" tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="mine_currency_counter" data-i18n="counter">Counter</label>
                        <input type="text" class="form-control" name="counter" id="mine_currency_counter" data-i18n="counter" tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="mine_currency_difficulty" data-i18n="difficulty">Difficulty</label>
                        <input type="text" class="form-control" name="difficulty" id="mine_currency_difficulty" data-i18n="difficulty" disabled tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="mine_currency_nonce" data-i18n="nonce">Nonce</label>
                        <input type="text" class="form-control" name="nonce" id="mine_currency_nonce" data-i18n="nonce" tabindex="1" />
                    </div>
                    <div class="row advanced">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="mine_currency_fee" data-i18n="fee">FEE</label>
                                <div class="input-group">
                                    <input type="number" name="feeNXT" id="mine_currency_fee" class="form-control" step="any" min="1" placeholder="Fee" data-i18n="[placeholder]fee" data-default="1" value="1" tabindex="3">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="mine_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="mine_currency_deadline" class="form-control" placeholder="Deadline" data-i18n="[placeholder]deadline" min="1" data-default="24" value="24" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="mine_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="mine_currency_password" class="form-control" placeholder="" tabindex="5">
                    </div>
                    <div class="form-group advanced">
                        <label for="mine_currency_referenced_transaction" data-i18n="referenced_transaction_hash">REFERENCED TRANSACTION HASH</label>
                        <input type="text" class="form-control" name="referencedTransactionFullHash" id="mine_currency_referenced_transaction" placeholder="Referenced Transaction Full Hash" data-i18n="[placeholder]referenced_transaction_full_hash" tabindex="6" spellcheck="false" />
                    </div>
                    <div class="form-group advanced" style="margin-bottom:0;">
                        <input type="checkbox" name="doNotBroadcast" id="mine_currency_do_not_broadcast" value="1" /> <label for="mine_currency_do_not_broadcast" style="font-weight:normal;" tabindex="7" data-i18n="do_not_broadcast">Do Not Broadcast</label>
                    </div>
                    <div class="form-group advanced">
                        <input type="checkbox" name="add_note_to_self" id="mine_currency_add_note_to_self" class="add_note_to_self" tabindex="8" /> <label for="mine_currency_add_note_to_self" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_note_to_self">Add Note to Self?</span></label>
                    </div>
                    <div class="form-group advanced optional_note">
                        <label for="mine_currency_note_to_self" data-i18n="note_to_self">Note to Self</label>
                        <textarea class="form-control" id="mine_currency_note_to_self" name="note_to_self" rows="4" tabindex="9"></textarea>
                        <div style="margin-top:3px;">
                            <label style="font-weight:normal;color:#666" data-i18n="note_is_encrypted">This note is encrypted.</span></label>
                        </div>
                    </div>
                    <input type="hidden" name="request_type" value="currencyMint" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee</strong>: <span class="advanced_fee">1 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="mine_currency_button" data-loading-text="Submitting..." data-i18n="mint;[data-loading-text]submitting">Mint currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reserve_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-i18n="reserve_currency">Reserve currency</span> - <span id="reserve_currency_code"></span></h4>
            </div>
            <div class="modal-body">            
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="currency" id="reserve_currency_currency" placeholder="Currency" data-i18n="[placeholder]currency" tabindex="1" />
                        <input type="hidden" name="decimals" id="reserve_currency_decimals" value="" />
                        <input type="hidden" name="minReserve" id="reserve_currency_minReserve" value="" />
                        <input type="hidden" name="currentReserve" id="reserve_currency_currentReserve" value="" />
                        <input type="hidden" name="resSupply" id="reserve_currency_resSupply" value="" />
                        <p>
                        <label for="reserve_currency_resSupply_text" data-i18n="reserve_supply">Reserve Supply</label> <i><span id="reserve_currency_resSupply_text"></span></i>
                        <label for="reserve_currency_initialSupply_text" data-i18n="initial_supply_included">Initial Supply Included</label> <i><span id="reserve_currency_initialSupply_text"></span></i>
                        </p>
                        <p>
                        <label for="reserve_currency_minReserve_text" data-i18n="activation_per_unit_reserve">Activation Per Unit Reserve</label> <i><span id="reserve_currency_minReserve_text"></span></i>
                        <label for="reserve_currency_currentReserve_text" data-i18n="current_per_unit_reserve">Current Per Unit Reserve</label> <i><span id="reserve_currency_currentReserve_text"></span></i>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="reserve_currency_amount" data-i18n="currency">Amount of NXT per currency unit</label>
                        <input type="text" class="form-control" name="amountPerUnitNQT" id="reserve_currency_amount" placeholder="NXT per unit" data-i18n="amount" tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="reserve_currency_total" data-i18n="currency">Amount of NXT reserved</label>
                        <span id="reserve_currency_total"></span>
                    </div>
                    <div class="row advanced">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="reserve_currency_fee" data-i18n="fee">FEE</label>
                                <div class="input-group">
                                    <input type="number" name="feeNXT" id="reserve_currency_fee" class="form-control" step="any" min="1" placeholder="Fee" data-i18n="[placeholder]fee" data-default="1" value="1" tabindex="3">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="reserve_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="reserve_currency_deadline" class="form-control" placeholder="Deadline" data-i18n="[placeholder]deadline" min="1" data-default="24" value="24" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="reserve_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="reserve_currency_password" class="form-control" placeholder="" tabindex="5">
                    </div>
                    <div class="form-group advanced">
                        <label for="reserve_currency_referenced_transaction" data-i18n="referenced_transaction_hash">REFERENCED TRANSACTION HASH</label>
                        <input type="text" class="form-control" name="referencedTransactionFullHash" id="reserve_currency_referenced_transaction" placeholder="Referenced Transaction Full Hash" data-i18n="[placeholder]referenced_transaction_full_hash" tabindex="6" spellcheck="false" />
                    </div>
                    <div class="form-group advanced" style="margin-bottom:0;">
                        <input type="checkbox" name="doNotBroadcast" id="reserve_currency_do_not_broadcast" value="1" /> <label for="reserve_currency_do_not_broadcast" style="font-weight:normal;" tabindex="7" data-i18n="do_not_broadcast">Do Not Broadcast</label>
                    </div>
                    <div class="form-group advanced">
                        <input type="checkbox" name="add_note_to_self" id="reserve_currency_add_note_to_self" class="add_note_to_self" tabindex="8" /> <label for="reserve_currency_add_note_to_self" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_note_to_self">Add Note to Self?</span></label>
                    </div>
                    <div class="form-group advanced optional_note">
                        <label for="reserve_currency_note_to_self" data-i18n="note_to_self">Note to Self</label>
                        <textarea class="form-control" id="reserve_currency_note_to_self" name="note_to_self" rows="4" tabindex="9"></textarea>
                        <div style="margin-top:3px;">
                            <label style="font-weight:normal;color:#666" data-i18n="note_is_encrypted">This note is encrypted.</span></label>
                        </div>
                    </div>
                    <input type="hidden" name="request_type" value="currencyReserveIncrease" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee</strong>: <span class="advanced_fee">1 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="reserve_currency_button" data-loading-text="Submitting..." data-i18n="reserve;[data-loading-text]submitting">Reserve currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_currency_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-i18n="delete_currency">Delete currency</span> - <span id="delete_currency_code"></span></h4>
            </div>
            <div class="modal-body">            
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="currency" id="delete_currency_currency" />
                    </div>
                    
                    <div class="row advanced">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="delete_currency_fee" data-i18n="fee">FEE</label>
                                <div class="input-group">
                                    <input type="number" name="feeNXT" id="delete_currency_fee" class="form-control" step="any" min="1" placeholder="Fee" data-i18n="[placeholder]fee" data-default="1" value="1" tabindex="3">
                                    <span class="input-group-addon">NXT</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="delete_currency_deadline" data-i18n="deadline_hours">DEADLINE (HOURS)</label>
                                <input type="number" name="deadline" id="delete_currency_deadline" class="form-control" placeholder="Deadline" data-i18n="[placeholder]deadline" min="1" data-default="24" value="24" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="form-group secret_phrase">
                        <label for="delete_currency_password" data-i18n="passphrase">PASSPHRASE</label>
                        <input type="password" name="secretPhrase" id="delete_currency_password" class="form-control" placeholder="" tabindex="5">
                    </div>
                    <div class="form-group advanced">
                        <label for="delete_currency_referenced_transaction" data-i18n="referenced_transaction_hash">REFERENCED TRANSACTION HASH</label>
                        <input type="text" class="form-control" name="referencedTransactionFullHash" id="delete_currency_referenced_transaction" placeholder="Referenced Transaction Full Hash" data-i18n="[placeholder]referenced_transaction_full_hash" tabindex="6" spellcheck="false" />
                    </div>
                    <div class="form-group advanced" style="margin-bottom:0;">
                        <input type="checkbox" name="doNotBroadcast" id="delete_currency_do_not_broadcast" value="1" /> <label for="delete_currency_do_not_broadcast" style="font-weight:normal;" tabindex="7" data-i18n="do_not_broadcast">Do Not Broadcast</label>
                    </div>
                    <div class="form-group advanced">
                        <input type="checkbox" name="add_note_to_self" id="delete_currency_add_note_to_self" class="add_note_to_self" tabindex="8" /> <label for="delete_currency_add_note_to_self" style="font-weight:normal;margin-bottom:0;"> <span data-i18n="add_note_to_self">Add Note to Self?</span></label>
                    </div>
                    <div class="form-group advanced optional_note">
                        <label for="delete_currency_note_to_self" data-i18n="note_to_self">Note to Self</label>
                        <textarea class="form-control" id="delete_currency_note_to_self" name="note_to_self" rows="4" tabindex="9"></textarea>
                        <div style="margin-top:3px;">
                            <label style="font-weight:normal;color:#666" data-i18n="note_is_encrypted">This note is encrypted.</span></label>
                        </div>
                    </div>
                    <input type="hidden" name="request_type" value="deleteCurrency" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><strong data-i18n="fee">Fee</strong>: <span class="advanced_fee">1 NXT</span> - <a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="delete_currency_button" data-loading-text="Submitting..." data-i18n="delete;[data-loading-text]submitting">Delete currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="currency_founders_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-wider">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span data-i18n="currency_founders">Currency Founders</span> - <span id="founders_currency_code"></span></h4>
            </div>
            <div class="modal-body">                            
                <div class="form-group">
                    <p>
                        <label for="founders_reserve_units" data-i18n="reserve_units">Reserve Units</label>: <i><span id="founders_reserve_units"></span></i> | 
                        <label for="founders_issuer_units" data-i18n="issuer_units">Issuer Units</label>: <i><span id="founders_issuer_units"></span></i> | 
                        <label for="founders_blocks_active" data-i18n="blocks_until_active">Blocks until active</label>: <i><span id="founders_blocks_active"></span></i>
                    </p>
                </div>
                <div class="data-container data-loading" style="max-height:350px;overflow:auto">
                    <table class="table table-striped" id="currency_founders_table">
                        <thead>
                        <tr>
                            <th data-i18n="account">Account</th>
                            <th data-i18n="amount_per_unit">Amount Per Unit</th>
                            <th data-i18n="amount_reserved">Amount Reserved</th>
                            <th data-i18n="founders_units">Founders Units</th>
                            <th data-i18n="percent_of_min">Percent of Minimum</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                    <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                    <div class="data-empty-container"><p data-i18n="error">Error</p></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-i18n="close">Close</button>
            </div>
        </div>
    </div>
</div>